<!DOCTYPE html>
    <html>
    <head>
        {{"decoupled-map"|googlemap_js(37.4419, -122.1419, markers=[(37.4419, -122.1419)])}}
            {{sndmap.js}}
    </head>
         {% if error %}
         <p class=error><strong>Error:</strong> {{ error }}
        {% endif %}
    <body>
        <h1>CYBERSECURITY WEB APPLICATION</h1>
        <form method="POST" enctype="multipart/form-data">
            Project file path: <input type="file" name="file"><br>
            <input type="submit" value="Submit">
        </form>



        <h3> My First Map generated in full view</h3>
        {{sndmap.html}}






    </body>
</html>